<!DOCTYPE html>
<html>
    <head>
        <title>kotnid live_update_view website</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>get_view</h1>
        </header>
        <section>
            <heading>
                <h1>chart</h1>
            </heading>
            <article>
                <div id="chart">

                </div>
            </article>
        </section>
        <section>                
            <heading>
                <h1>update</h1>
            </heading>
            <article>
                <div id="data_box">

                </div>
            </article>
        </section>
    </body>
    <script src="script.js"></script>
</html>