<!DOCTYPE html>
<html>
<head>
    <title>kotnid live_update_view website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style href="style.css"></style>
</head>
<body>
    <header>
        <div class="jumbotron text-center">
            <h1>kotnid live_update_view</h1>
            <p>on making...</p> 
        </div>
    </header>
    <section>
        <heading>
            <div class="text-center">
                <h1>Chart</h1>
            </div>
        </heading>
        <article>
            <div id="chart_box">
                
            </div>
        </article>
    </section>
    <section>
        <div class="text-center">
            <heading>
                <h1>data update</h1>
            </heading>
            <article>
                <div id="msg_box" style="overflow: auto;">
                    
                </div>
            </article>           
    </section>
    <script src="script.js"></script>
</body>
</html>